@model Epicentre.Models.CovidVaccination

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CovidVaccination</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VACCINATION_TYPE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VACCINATION_TYPE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VACCINATION_DATE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VACCINATION_DATE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VACCINATION_NEXT_DATE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VACCINATION_NEXT_DATE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VACCINATION_STATUS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VACCINATION_STATUS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.USER_EMAIL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USER_EMAIL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VACCINATION_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
