@model IEnumerable<Epicentre.Models.CovidVaccination>

@{
    ViewData["Title"] = "Covid Vaccinations";
}

<div style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%; margin-top: 0%;" class="content">
    <h1 style="padding-left: 2%;">Your Covid Vaccinations</h1>

    @if (Model.Count() == 0)
    {
        <div style="padding-top: 5%; text-align: center;">
            <h3>You have no vaccinations.</h3>
            <a asp-controller="CovidVaccinations" asp-action="RegisterCovidVaccination" style="color: red;">Register for another vaccination</a>
        </div>
    }
    else
    {
        <a asp-controller="CovidVaccinations" asp-action="RegisterCovidVaccination" style="color: red; padding-left: 2.5%;">Register for another vaccination</a>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VACCINATION_TYPE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VACCINATION_DATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VACCINATION_NEXT_DATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VACCINATION_STATUS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.USER_ID)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VACCINATION_TYPE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VACCINATION_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VACCINATION_NEXT_DATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VACCINATION_STATUS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.USER_ID)
                        </td>
                      
                    </tr>
                }
            </tbody>
        </table>
    }
</div>