@model IEnumerable<Epicentre.Models.CovidTest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TEST_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEST_DATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEST_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TEST_RESULT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.USER_EMAIL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TEST_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEST_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEST_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TEST_RESULT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USER_EMAIL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TEST_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TEST_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TEST_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
