@{
    ViewData["Title"] = "Dashboard";
}

<div style="padding-left: 1%; padding-right: 2%; padding-bottom: 3%; margin-top: 0%;" class="content">
        <h1 style="padding-bottom: 1%; padding-left: 4%; color: black; font-size: 250%;">Welcome back!</h1>
        <div style="margin-top: 2%;" class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">coronavirus</i>
                            </div>
                            <p style="color: black;" class="card-category">Completed Covid Tests</p>
                            <h3 style="color: black;" class="card-title">
                                @ViewBag.CompletedCovidTests
                            </h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">masks</i>
                            </div>
                            <p style="color: black;" class="card-category">Outstanding Tests</p>
                            <h3 style="color: black;" class="card-title">@ViewBag.OutstandingTests</h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">thumb_up_alt</i>
                            </div>
                            <p style="color: black;" class="card-category">Positive Covid Tests</p>
                            <h3 style="color: black;" class="card-title">@ViewBag.PositiveTests</h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">thumb_down_alt</i>
                            </div>
                            <p style="color: black;" class="card-category">Negative Covid Tests</p>
                            <h3 style="color: black;" class="card-title">@ViewBag.NegativeTests</h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">groups</i>
                            </div>
                            <p style="color: black;" class="card-category">Tests Tomorrow</p>
                            <h3 style="color: black;" class="card-title">
                                @ViewBag.TestsTomorrow
                            </h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">sick</i>
                            </div>
                            <p style="color: black;" class="card-category">Most Popular Test</p>
                            <h3 style="color: black;" class="card-title">@ViewBag.MostPopularTest</h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">location_on</i>
                            </div>
                            <p style="color: black;" class="card-category">Most Popular Site</p>
                            <h3 style="color: black;" class="card-title">@ViewBag.MostPopularSite</h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">schedule</i>
                            </div>
                            <p style="color: black;" class="card-category">Most Popular Time</p>
                            <h3 style="color: black;" class="card-title">@ViewBag.MostPopularTime</h3>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>