@model Epicentre.Models.CovidTest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CovidTest</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TEST_TYPE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TEST_TYPE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TEST_DATE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TEST_DATE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TEST_STATUS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TEST_STATUS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TEST_RESULT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TEST_RESULT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.USER_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USER_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TEST_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
