@model IEnumerable<Epicentre.Models.CovidTest>

@{
    ViewData["Title"] = "Patients";
}

<div style="padding-left: 1%; padding-right: 2%; padding-bottom: 1%; margin-top: 0%;" class="content">
    <h1 style="padding-bottom: 1%; padding-left: 4%; color: black; font-weight: bold;">Patient Covid Tests</h1>

    <table style="color: black; margin-left: 5%;">
        <thead>
            <tr>
                <th style="font-weight: bold;" class="text-center">
                    <button type="button" rel="tooltip" class="btn btn-info">
                        <i class="material-icons">masks</i>
                    </button>
                </th>
                <th style="font-weight: bold;" class="text-center">
                    <button type="button" rel="tooltip" class="btn btn-info">
                        <i class="material-icons">science</i>
                    </button>
                </th>
                <th style="font-weight: bold;" class="text-center">
                    <button type="button" rel="tooltip" class="btn btn-info">
                        <i class="material-icons">biotech</i>
                    </button>
                </th>
                <th style="font-weight: bold;" class="text-center">
                    <button type="button" rel="tooltip" class="btn btn-info">
                        <i class="material-icons">coronavirus</i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    Test Sample Taken |||
                </td>
                <td class="text-center">
                    Test Sample Collected |||
                </td>
                <td class="text-center">
                    Test Sample Being Analyzed |||
                </td>
                <td class="text-center">
                    Test Result Received
                </td>
            </tr>
        </tbody>
    </table>

    @if (Model.Count() == 0)
    {
        <div style="padding-top: 5%; text-align: center;">
            <h3 style="color: black;">There are no tests.</h3>
        </div>
    }
    else
    {
        <table style="color: black; margin-top: 0%;" class="table">
            <thead>
                <tr>
                    <th style="font-weight: bold;" class="text-center">
                        ID Number
                    </th>
                    <th style="font-weight: bold;" class="text-center">
                        @Html.DisplayNameFor(model => model.TEST_DATE)
                    </th>
                    <th style="font-weight: bold;" class="text-center">
                        @Html.DisplayNameFor(model => model.TEST_TYPE)
                    </th>
                    <th style="font-weight: bold;" class="text-center">
                        @Html.DisplayNameFor(model => model.TEST_LOCATION)
                    </th>
                    <th style="font-weight: bold;" class="text-center">
                        @Html.DisplayNameFor(model => model.TEST_STATUS)
                    </th>
                    <th style="font-weight: bold;" class="text-center">
                        @Html.DisplayNameFor(model => model.TEST_RESULT)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <input id="id" value="@item.TEST_ID" style="visibility: hidden;" />
                    <tr>
                        <td class="text-center">
                            @ViewBag.ID
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TEST_DATE)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TEST_TYPE)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.TEST_LOCATION)
                        </td>
                        <td class="td-actions text-center">
                            @if (item.TEST_STATUS == "Waiting for test...")
                            {
                                <button onclick="updateStatus('@item.TEST_ID')" type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">masks</i>
                                </button>
                            }
                            else if (item.TEST_STATUS == "Sample taken")
                            {
                                <button onclick="updateStatus('@item.TEST_ID')" type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">science</i>
                                </button>
                            }
                            else if (item.TEST_STATUS == "Sample collected")
                            {
                                <button onclick="updateStatus('@item.TEST_ID')" type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">biotech</i>
                                </button>
                            }
                            else if (item.TEST_STATUS == "Analyzing sample...")
                            {
                                <button onclick="updateStatus('@item.TEST_ID')" type="button" rel="tooltip" class="btn btn-info">
                                    <i class="material-icons">coronavirus</i>
                                </button>
                            }
                            else
                            {
                                <label>Completed</label>
                            }
                        </td>
                        <td class="td-actions text-center">
                            @if (item.TEST_STATUS == "Waiting for test..." || item.TEST_STATUS == "Sample taken" || item.TEST_STATUS == "Sample collected" || item.TEST_STATUS == "Analyzing sample...")
                            {
                                <label>Waiting for result...</label>
                            }
                            else if (item.TEST_RESULT == "Positive" || item.TEST_RESULT == "Negative")
                            {
                                <label>@item.TEST_RESULT</label>
                            }
                            else
                            {
                                <button onclick="updateResult('@item.TEST_ID', 'Positive')" type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">thumb_up_alt</i>
                                </button>
                                <button onclick="updateResult('@item.TEST_ID', 'Negative')" type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">thumb_down_alt</i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<script type="text/javascript">

    function updateStatus(id) {
        window.location.href = '@Url.Action("UpdateStatus", "CovidTests")' + '?testId=' + id;
    }

    function updateResult(id, result) {
        window.location.href = '@Url.Action("UpdateResult", "CovidTests")' + '?testId=' + id + '&result=' + result;
    }

</script>